<md-toolbar color="primary">
    Members
    <span class="app-toolbar-filler"></span>
    <!--search/filter field-->
    <md-input placeholder="name filter" [(ngModel)]='listFilter'>
        <span md-prefix><i class="material-icons app-input-icon">search</i>&nbsp;&nbsp;</span>
    </md-input>
    <!--a wonky spacer-->
    <div>&nbsp;&nbsp;&nbsp;</div> 
    <!--reload button-->
    <button md-raised-button color="primary" *ngIf='!loading' class='ui secondary button' (click)='refresh()'>Reload</button>
    <button md-raised-button color="primary" *ngIf='loading' class='ui loading button' >Reload</button>
    
    <button md-icon-button *ngIf='!isListView' (click)="isListView = !isListView">
      <md-icon>list</md-icon>
    </button>
     <button md-icon-button *ngIf='isListView' (click)="isListView = !isListView">
      <md-icon>dashboard</md-icon>
    </button>
    
    <!-- 3 dot menu opens when trigger button is clicked -->
    <!--<button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item (click)="isListView = false">
          <span><md-icon>dashboard</md-icon>Card View</span>
        </button>
        <button md-menu-item (click)="isListView = true">
            <span><md-icon>list</md-icon>List View</span>
        </button>
        <button md-menu-item>
            <span><md-icon>perm_identity</md-icon>Action 2</span>
        </button>
        <button md-menu-item disabled>
            <span><md-icon>help</md-icon>Action 3</span>
        </button>
    </md-menu>-->
</md-toolbar>

<table class="table table-striped" *ngIf='isListView'>
  <thead>
      <td>Name</td>
      <td>Gender</td>
      <td>Born</td>
      <td>At</td>
  </thead>
  <tr *ngFor='let member of members | memberFilter:listFilter :3' (click)="onSelect(member)">
      <td>{{ member.first_name}} {{member.last_name}}</td>
      <td>{{ member.gender}}</td>
      <td>{{ member.birth ?  member.birth.year : "?" }}</td>
      <td>{{ member.birth ?  member.birth.place : "?" }}</td>
  </tr>
</table>



<div class="row" *ngIf="members && !isListView">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor='let member of members | memberFilter:listFilter :3'>

        <md-card class="kz-mem-card">
            <md-card-title-group>
                <md-card-title>{{ member.first_name}} {{member.last_name}}</md-card-title>
                <md-card-subtitle>
                    {{ member.birth ?  member.birth.year : "?" }} - 
                    {{ member.birth ?  member.birth.place : "?" }}
                </md-card-subtitle>
                <img md-card-md-image src="http://lorempixel.com/400/200/people/{{member.id % 10}}">
            </md-card-title-group>
        </md-card>
    </div>
</div>