<h3>{{ member | memberHeader | titleCase }} </h3>

<md-card *ngIf="member">
    
    <form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">  

        <md-input maxlength="50" required placeholder="Last Name" (change)="changed=true"
            name="lastname" [(ngModel)]="member.last_name" #lname="ngModel">
            <md-hint class="error" *ngIf="!(lname.valid || lname.pristine)" align="start">Last Name is required</md-hint>
        </md-input>
        <md-input maxlength="50" required placeholder="First"
            name="firstname" [(ngModel)]="member.first_name" #fname="ngModel">
            <md-hint class="error" *ngIf="!(fname.valid || fname.pristine)" align="start">First Name is required</md-hint>
        </md-input>
        <md-input maxlength="50" placeholder="Middle"
            name="middle" [(ngModel)]="member.middle_name" #mname="ngModel">
        </md-input><br>

        <md-radio-group class="example-radio-group" [(ngModel)]="gender" name="gender">
        <md-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
            {{gender}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </md-radio-button>
        </md-radio-group><br>

        <md-input maxlength="250" placeholder="Description" id="desc" class="full-width"
            name="desc" [(ngModel)]="member.description" #desc="ngModel">
        </md-input><br>

        <button md-raised-button color="primary" type="submit" 
                    [disabled]="theForm.form.pristine">Save</button>

        <button md-raised-button color="accent" 
                     (click)="onCancel(theForm.form.pristine)">Cancel</button>

    </form>

  <!--<div [hidden]="theForm.form.valid" 
            class="ui attached message error-message">
            <div class="header">Validations Errors!</div>
            <p [hidden]="fname.valid || fname.pristine">First Name is required</p>
            <p [hidden]="lname.valid || lname.pristine">Last Name is required</p>
  </div>-->

</md-card>

<!--<kz-notice>
      This Member Update Page does not really update the database at the server! But it will record the changes 
      locally.  The will be lost the next time you load the application (web page) from the server.
</kz-notice>-->

<h4>Raw Data</h4>
<div>{{ memberFOO | async | json }}</div>