.error  {
  color: red !important;
}

.warning-message  {
  background: sandybrown !important;
}

.kz-header  {
  background: sandybrown !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}

.narrow {
  width: 30px;
}
.month {
  width: 40px;
}
.year {
  width: 60px;
}