<h3>{{ member | memberHeader | titleCase }} </h3>

<img  class="thumbnail-image" src={{source}}  alt="profile" />
      <!--onError="this.src='./assets/images/male-silhouette.jpg';"  />-->

<button md-raised-button color="accent" (click)="goto_edit()" >edit</button>

<div><a href="#" [routerLink]="['/upload', member.id]">Change Image</a></div>
<div>Sex: {{ member.sex | uppercase }}</div><br>

<kz-member-list-card title="Parents"  [members]='parents'  showlast='True'></kz-member-list-card>
<kz-member-list-card title="Spouse"   [members]='spouses'  showlast='True'></kz-member-list-card>
<kz-member-list-card title="Siblings" [members]='siblings' showlast='False'></kz-member-list-card>
<kz-member-list-card title="Children" [members]='children' showlast='False'></kz-member-list-card>

<kz-event-list-card title="Events" [events]='member.events' ></kz-event-list-card>

<h4>Ancestry Source Data</h4>
<div>{{ member.raw }}</div>