<md-toolbar>
    <span>Members</span>

    <!-- fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <!--search/filter field-->
    <md-input placeholder="name filter" [(ngModel)]='listFilter'>
        <span md-prefix><i class="material-icons app-input-icon">search</i>&nbsp;&nbsp;</span>
    </md-input> &nbsp;&nbsp;&nbsp;

    <!--reload button-->
    <button md-raised-button color="primary" (click)='refresh()' [disabled]='loading'>
        {{loading ? 'Loading' : 'Reload' }}
    </button>

    <!--list/grid view toggle button-->
    <button md-icon-button [ngSwitch]="isListView" (click)="isListView = !isListView">
        <md-icon *ngSwitchCase="true">dashboard</md-icon>
        <md-icon *ngSwitchCase="false">list</md-icon>
    </button>
</md-toolbar>

<kz-spinner *ngIf="loading"></kz-spinner>

<div class="row" *ngIf="!isListView">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor='let member of members | async | memberFilter: listFilter'>
        <md-card class="kz-mem-card">
            <md-card-title-group>
                <md-card-title>{{ member.first_name}} {{member.last_name}}</md-card-title>
                <md-card-subtitle>
                    {{ member.birth ?  member.birth.year : "?" }} - 
                    {{ member.birth ?  member.birth.place : "?" }}
                </md-card-subtitle>
                <img md-card-md-image src="http://lorempixel.com/400/200/people/{{member.id % 10}}">
            </md-card-title-group>
        </md-card>
    </div>
</div>

<table class="table table-striped" *ngIf='isListView'>
  <thead><td>Name</td><td>Gender</td><td>Born</td><td>At</td></thead>
  <tr *ngFor='let member of members | async | memberFilter : listFilter' (click)="onSelect(member)">
      <td>
            <a href="#" [routerLink]="['/member', member.id]">
                {{member.last_name | titleCase}}, {{member.first_name | titleCase}}
            </a> 
      </td>
      <td>{{ member.sex | titleCase }}</td>
      <td>{{ member.birth ?  member.birth.year : "?" }}</td>
      <td>{{ (member.birth ?  member.birth.place : "?") | titleCase }}</td>
  </tr>
</table>

