<md-card>
    <h3 class="kz-header full-width">{{member.first_name}} {{member.last_name}}</h3>
    <br>
    <form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">  

      <md-input maxlength="50" required placeholder="First"
          name="firstname" [(ngModel)]="member.first_name" #fname="ngModel">
          <md-hint class="error" *ngIf="!(fname.valid || fname.pristine)" align="start">First Name is required</md-hint>
     </md-input>
     <md-input maxlength="50" required placeholder="Last Name"
          name="lastname" [(ngModel)]="member.last_name" #lname="ngModel">
          <md-hint class="error" *ngIf="!(lname.valid || lname.pristine)" align="start">Last Name is required</md-hint>
      </md-input>
     
      <br> <!--birth-->
      <md-label>Born: </md-label>
      <md-input maxlength="2" placeholder="Month" type="number" align="end" class="month"
          name="birth_month" [(ngModel)]="member.birth.month" #bmonth="ngModel">
          <md-hint class="error" *ngIf="!(bmonth.valid || bmonth.pristine)" align="start">Birth Month must...</md-hint>
      </md-input>
      <md-input maxlength="2" placeholder="Day" type="number" align="end" class="narrow"
          name="birth_day" [(ngModel)]="member.birth.day" #bday="ngModel">
          <md-hint class="error" *ngIf="!(bday.valid || bday.pristine)" align="start">Birth Day must...</md-hint>
      </md-input>
      <md-input maxlength="4" placeholder="Year" type="number" align="end" class="year"
          name="birth_year" [(ngModel)]="member.birth.year" #byear="ngModel">
          <md-hint class="error" *ngIf="!(byear.valid || byear.pristine)" align="start">Birth Year must...</md-hint>
      </md-input>
      <md-input maxlength="100" placeholder="Location" class="half-width"
          name="birth_place" [(ngModel)]="member.birth.location" #bplace="ngModel">
          <md-hint align="end">{{member.birth.location.length}} / 100</md-hint>
      </md-input>
      
      <br> <!--death-->
      <md-label>Died: </md-label>
      <md-input maxlength="2" placeholder="Month" type="number" align="end" class="month"
          name="death_month" [(ngModel)]="member.death.month" #dmonth="ngModel">
          <md-hint class="error" *ngIf="!(dmonth.valid || dmonth.pristine)" align="start">Month must...</md-hint>
      </md-input>
      <md-input maxlength="2" placeholder="Day" type="number" align="end" class="narrow"
          name="death_day" [(ngModel)]="member.death.day" #dday="ngModel">
          <md-hint class="error" *ngIf="!(dday.valid || dday.pristine)" align="start">Day must...</md-hint>
      </md-input>
      <md-input maxlength="4" placeholder="Year" type="number" align="end" class="year"
          name="death_year" [(ngModel)]="member.death.year" #dyear="ngModel">
          <md-hint class="error" *ngIf="!(dyear.valid || dyear.pristine)" align="start">Birth Year must...</md-hint>
      </md-input>
      <md-input maxlength="100" placeholder="Location" class="half-width"
          name="death_place" [(ngModel)]="member.death.location" #dplace="ngModel">
          <md-hint align="end">{{member.death.location.length}} / 100</md-hint>
      </md-input>
      <br>
      <!--description-->
      <md-input maxlength="300" placeholder="Description" class="full-width"
          name="description" [(ngModel)]="member.description" #descr="ngModel">
          <md-hint align="end">{{member.description.length}} / 300</md-hint>
      </md-input>
      <br><br>
      <md-checkbox [(ngModel)]="isAuthorized" required name="authorized">I am authorized to make these changes.</md-checkbox>
      <br><br>
      <button md-raised-button color="primary" type="submit" 
          [disabled]="!isAuthorized || !theForm.form.valid">Save</button>
      <button md-raised-button color="accent" 
          (click)="goto_show()">Cancel</button>
  </form>

  <!--<div [hidden]="theForm.form.valid" 
            class="ui attached message error-message">
            <div class="header">Validations Errors!</div>
            <p [hidden]="fname.valid || fname.pristine">First Name is required</p>
            <p [hidden]="lname.valid || lname.pristine">Last Name is required</p>
  </div>-->

</md-card>

<kz-notice>
      This Member Update Page does not really update the database at the server! But it will record the changes 
      locally.  The will be lost the next time you load the application (web page) from the server.
</kz-notice>