
<h4>Release Notes v0.0.9 (pending)</h4>
-- Change to firebase authentication?<br>
<br><h4>Release Notes v0.0.8 (2017-01-02)</h4>
-- Ignore data files in git project<br>
-- Consolidate shared components<br>
-- Member Change Guard (warns of changes)<br>
-- IMember change to Member Class<br>
<br>
<h4>Release Notes v0.0.7 (2016-11-17)</h4>
-- show spouse(s) on the members show page<br>
-- streamline authentication callback<br>
-- remove the redundant profile service<br>
-- loading of mebers by increasing range<br>
-- rename "kazoku client" project in github<br>
<br>
<h4>Release Notes v0.0.6 (2016-11-15)</h4>
-- moved versioning from title (cache problem)<br>
-- m/d/y problem on members detail<br>
-- show better display string on event day<br>
<br>
<h4>Release Notes v0.0.5 (2016-11-15)</h4>
-- new simple member details form<br>
-- new material members edit form<br>
-- sort siblings by birth year (server)<br>
-- add real profile data to auth0 and show<br>
-- add death event to the member detail<br>
<br>
<h4>Release Notes v0.0.4 (2016-11-10)</h4>
-- Restructure route guards: guest and admin<br>
-- Member list filter by first OR last name <br>
-- Jump home after logout; before login <br>
-- Member list action bar refined colors <br>
-- Connect "user" to a "member" with id <br>
-- Add a "YOU" button to main menu <br>
<br>
<h4>Release Notes v0.0.3</h4>
-- There is no real ability to edit data.<br>
-- Obviously we are using fake pictures.<br>
