<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #leftnav (open)="lcbutton.focus()">
      Proto Sidebar<br><button md-button #lcbutton (click)="leftnav.close()">L-Close</button>
  </md-sidenav>

  <!--an example of the right nav-->
  <!--<md-sidenav #rightnav align="end" (open)="rcbutton.focus()">
      Right Nav<br><button md-button #rcbutton (click)="rightnav.close()">R-Close</button>
  </md-sidenav>-->

  <md-toolbar color="primary">

    <button class="app-icon-button" (click)="leftnav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <button md-raised-button color="primary" (click)="goto_home()">Kazoku!</button>

    &nbsp;&nbsp;&nbsp; <!-- spacer -->

    <button md-raised-button color="accent" (click)="goto('members')" *ngIf="auth.authenticated()">Members</button>

    <span class="app-toolbar-filler"></span>

    <button md-raised-button color="primary" (click)="goto('contact')">Contact Us</button>
    &nbsp;&nbsp; <!-- spacer -->
    <button md-raised-button color="accent" *ngIf="!auth.authenticated()" (click)="auth.login()">Login</button>

    <!-- 3 dot menu opens when trigger button is clicked -->
    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu x-position="before" #menu="mdMenu">
        <button md-menu-item (click)="goto('home')">
          <span><md-icon>home</md-icon>Home</span>
        </button>
        <button md-menu-item (click)="goto('dashboard')" *ngIf="auth.authenticated()">
          <span><md-icon>dashboard</md-icon>Dashboard</span>
        </button>
        <button md-menu-item (click)="goto('profile')" *ngIf="auth.authenticated()">
            <span><md-icon>perm_identity</md-icon>Profile</span>
        </button>
        <button md-menu-item disabled>
            <span><md-icon>help</md-icon>Help</span>
        </button>

        <hr>
        <button md-menu-item (click)="goto('notes')">
            <span><md-icon>info</md-icon>Release notes</span>
        </button>
        <button md-menu-item (click)="goto('sample')">
            <span><md-icon>new_releases</md-icon>Samples</span>
        </button>
        <button md-menu-item (click)="isDarkTheme = !isDarkTheme">
            <span><md-icon>swap_horiz</md-icon>Colors</span>
        </button>

        <hr>
        <button md-menu-item (click)="logout()" *ngIf="auth.authenticated()">
            <span><md-icon>exit_to_app</md-icon>Logout</span>
        </button>
    </md-menu>

    <!--this is the button to activate the right nav above-->
    <!--<button class="app-icon-button" (click)="rightnav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>-->

  </md-toolbar>

  <div class="app-content">

    <router-outlet></router-outlet>

  </div>

</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
