<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    TODO: Sidenav
  </md-sidenav>

  <md-toolbar color="primary">

    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    Material One

    <button class="app-icon-button" 
      (click)="isDarkTheme = !isDarkTheme"
      md-tooltip="Toggle between color themes." >
      <i class="material-icons app-toolbar-menu">swap_horiz</i>
    </button>


    <span class="app-toolbar-filler"></span>
    <button md-button >Contact Us</button>
    <button md-raised-button color="primary" (click)="goto('home')">Home</button>
    <button md-raised-button color="accent"  (click)="goto('sample')">MD Samples</button>
    <button md-raised-button color="primary" (click)="goto('profile')" *ngIf="auth.authenticated()">Profile</button>

    <button md-raised-button color="primary" *ngIf="!auth.authenticated()" (click)="auth.login()">Login</button>
    <button md-raised-button color="primary" *ngIf="auth.authenticated()" (click)="auth.logout()">Logout</button>

  </md-toolbar>

  <div class="app-content">

    <router-outlet></router-outlet>

  </div>

</md-sidenav-layout>

<span class="app-action" [class.m2app-dark]="isDarkTheme">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
