<span id="kz-dashboard-page"></span>
<md-card id="kz-dashcard-today">
    <h3>Today in Conley Family History</h3>
    <div *ngFor='let item of itemsToday '>
        {{item.title | titleCase }} 
        {{item.event.kind == "birt" ? "born" : "died" }}  
        in {{item.event.year}}
    </div>
</md-card>

<md-card id="kz-dashcard-calendar">
    <h3><kz-calendar-buttons></kz-calendar-buttons>{{ currMonthStr }} {{currentDate.getFullYear()}}</h3>
    <mwl-calendar-month-view [viewDate]="currentDate"
        [events]="items" 
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (eventClicked)="eventClicked($event)"
        (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
</md-card>

<md-card id="kz-dashcard-list">
    <h3>
        <kz-calendar-buttons></kz-calendar-buttons>
        {{itemsMonth.length}} Events in {{currMonthStr}}
    </h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor='let item of itemsMonth'>
            <kz-item-card [item]=item></kz-item-card>
        </div>
    </div>   
</md-card>