<md-card>
    <h3>Today in Conley Family History</h3>
    <div *ngFor='let item of itemsToday '>
        {{item.title}} {{item.event.kind}} in {{item.event.year}}
    </div>
</md-card>

<md-card >
    <h3><kz-calendar-buttons></kz-calendar-buttons>{{ viewMonthStr }} {{viewDate.getFullYear()}}</h3>
    <mwl-calendar-month-view [viewDate]="viewDate"
        [events]="items" 
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (eventClicked)="eventClicked($event)"
        (dayClicked)="dayClicked($event.day)">
    </mwl-calendar-month-view>
</md-card>

<md-card>
    <h3><kz-calendar-buttons></kz-calendar-buttons>{{itemsMonth.length}} Events in {{viewMonthStr}}</h3>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor='let item of itemsMonth'>
            <kz-item-card [item]=item></kz-item-card>
        </div>
    </div>   
</md-card>